body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
